
LIBS_PATH = ${PROJECT_DIR}/../../libs

FRAMEWORK_SEARCH_PATHS = ${inherited} $(PROJECT_DIR)/../../Libs
LIBRARY_SEARCH_PATHS = ${PROJECT_DIR}/../../libs/yaml/lib/osx


HEADER_SEARCH_PATHS = ${inherited} ${SRCROOT}/../../src ${LIBS_PATH}/SDL2.framework/Headers ${LIBS_PATH}/SDL2_image.framework/Headers ${LIBS_PATH}/yaml/include

PRODUCT_NAME = $(TARGET_NAME)

LD_RUNPATH_SEARCH_PATHS = @executable_path/../Frameworks

INFOPLIST_FILE = $(PROJECT_DIR)/OpenMoM-Info.plist

WARNING_CFLAGS = -Wnarrowing
