
LIBS_PATH = ${PROJECT_DIR}/../../libs
CC = ${PROJECT_DIR}/ccache/ccache-clang
CXX = ${PROJECT_DIR}/ccache/ccache-clang++

FRAMEWORK_SEARCH_PATHS = ${inherited} $(PROJECT_DIR)/../../Libs
LIBRARY_SEARCH_PATHS = ${PROJECT_DIR}/../../libs/yaml/lib/osx

GCC_ENABLE_CPP_EXCEPTIONS = NO


HEADER_SEARCH_PATHS = ${inherited} ${SRCROOT}/../../src ${LIBS_PATH}/SDL2.framework/Headers ${LIBS_PATH}/SDL2_image.framework/Headers ${LIBS_PATH}/yaml/include

PRODUCT_NAME = $(TARGET_NAME)

LD_RUNPATH_SEARCH_PATHS = @executable_path/../Frameworks

INFOPLIST_FILE = $(PROJECT_DIR)/OpenMoM-Info.plist

WARNING_CFLAGS = -Wnarrowing -Wno-documentation
